/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background: #fff;
    letter-spacing: 1px;
}

button {
    background-color: black;
    color: #00cdce;
    padding: 8px 15px;
    font-size: 0.875rem;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 1px;
}


/* END GLOBAL */


/* HEADER */

header {
    background-color: #1d20219e;
    width: 100%;
    padding: 5px 0;
    position: fixed;
    z-index: 999;
}

.header__content {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    margin: 0 5px;
    align-items: center;
}

.header__logo {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.header__logo span {
    color: #00cdce;
}

.header__content ul {
    list-style: none;
}

.header__content ul li {
    display: inline;
    margin: 0 15px;
}

.header__content ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    border-bottom: 2px solid #fff;
    line-height: 5px;
    transition: all .3s;
    padding-bottom: 5px;
}

.header__content ul li a:hover,
.header__content ul li a.active {
    color: #00cdce;
}


/* CAUROUSEL */

#carousel {
    background-image: url(../img/b1.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.carousel__content p {
    font-size: 1.1rem;
    padding: 23px 0;
    letter-spacing: 2px;
}


/* ABOUT */

#about {
    text-align: center;
    padding: 70px 0;
}

#about h2 {
    font-size: 3rem;
    font-weight: 600;
}

.about__content {
    width: 70%;
    margin: 0px auto;
    display: flex;
}

.about__item {
    padding: 0 10px;
}

.about__item i {
    width: 105px;
    height: 105px;
    border: 1px solid #7f7777;
    border-radius: 50%;
    line-height: 105px;
    font-size: 1.2rem;
    margin-top: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.about__item p {
    font-size: 0.9rem;
    line-height: 2em;
    color: #7f7777;
    margin-top: 0.8em;
    letter-spacing: 1px;
}

.about__item:hover i {
    color: #fff;
    background: #00cdce;
}

.about__intro {
    width: 70%;
    margin: 0px auto;
    padding: 25px 0;
}

.about__intro h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #00cdce;
}

.about__intro p {
    font-size: 0.8rem;
    margin: 15px 0;
    letter-spacing: 1px;
    line-height: 30px;
}


/* NUMBER */

#number {
    background: #00cdce;
    padding: 70px 0;
    text-align: center;
}

#number h2 {
    font-size: 3rem;
    font-weight: 500;
}

.number__content {
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px;
}

.number__item p:first-of-type {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}

.number__item p:last-of-type {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 15px 0;
}


/* BLOG */

#blogs {
    padding: 70px 0;
}

#blogs h2 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.blog__content {
    width: 80%;
    margin: 0px auto;
    display: grid;
    gap: 25px 25px;
    grid-template-columns: repeat(3, 1fr);
}

.blog__item {
    width: 325px;
    height: 400px;
    margin-top: 30px;
    background-color: #cbc9c9;
}

.blog__info {
    padding: 0 15px;
}

.blog__item img {
    display: block;
    width: 100%;
    height: auto;
}

.blog__item .blog__title {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 15px;
    color: #00cdce;
}

.blog__item .blog__des {
    font-size: 0.875rem;
    padding: 15px 0;
    letter-spacing: 1px;
}


/* GET MORE */

#get__more {
    text-align: center;
}

.getMore__content {
    display: flex;
    background-color: #00cdce;
}

.getMore__info .getMore__title {
    font-size: 3rem;
    font-weight: 500;
    padding: 50px;
}

.getMore__des {
    font-size: 1rem;
    padding: 0 60px;
    padding-bottom: 50px;
    color: #fff;
    letter-spacing: 2px;
}


/* PORTFOLIO*/

#portfolio {
    padding: 70px 0;
    text-align: center;
}

#portfolio h2 {
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 30px;
}

.portfolio__content {
    width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
}

.portfolio__content img {
    width: 100%;
    display: block;
}

.portfolio__item {
    position: relative;
}

.portfolio__details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.portfolio__details h3 {
    font-size: 1.5rem;
    padding-top: 50px;
    color: #00cdce;
}

.portfolio__details p {
    font-size: 0.875rem;
    line-height: 28px;
}

.portfolio__item:hover .portfolio__details {
    opacity: 1;
}



/* SUBSCRIBE */
#subscribe{
    background: #00cdce;
    padding: 70px 0;
    text-align: center;
}
.subscribe__content{
    width: 70%;
    margin: 0px auto;
}
.click h3{
    font-size: 3rem;
    font-weight: 400;
    margin-top: 12px;
}
.title-w3-agile{
    margin-bottom: 0.8em;
    color: #000;
    font-size: 4em;
    font-weight: 500;
}
.click p {
    font-size: 0.9rem;
    color: #ffffff;
    padding: 1em 11em;
    letter-spacing: 1px;
    text-align: center;
  }
  .letter-sub {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    text-align: center;
  }
  .letter-sub input[type="email"] {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
  }
  .send-button {
    text-align: center;
  }
  .send-button button.btn {
    margin: 0.8em 0 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 50px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 0px;
    transition: 0.5s all;
    text-decoration: none;
    cursor: pointer;
  }



  /* OUR AGENTS */
#our__agents{
    padding: 70px 0;
}
#our__agents h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 50px;
}
.agent__content{
    width: 85%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px 30px;
}
.agent__content img{
    display: block;
    width: 100%;
}
.agent__item{
    position: relative;
    width: 100%;
}
.agent__title {
    background-color: rgb(54, 54, 54);
    color: #00cdce;
    padding: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.agent__title h3{
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    color: #00cdce;
}
.agent__title p{
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}
.agent__socials{
    text-align: center;
}
.agent__socials i{ 
    border: solid #fff;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    transition: all 1s;
    cursor: pointer;
    margin: 5px;
}

/* MAP */
.maps iframe{
    width: 100%;
}
/* Contact */
#contact{
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
}
#contact h3 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 50px;
    font-weight: 600;
  }
  
  .contact__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .form-control {
    width: 100%;
    border: none;   
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    border-bottom: 1px solid #00cdce;
   
  }
.contact__form input:focus {
    outline: none;
}
  
  .contact__form-group button {
    width: 100%;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    padding: 8px 0;
    border-radius: 3px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .contact__form-group button:hover {
    background-color: #00cdce;
  }
  .contact__form-group textarea:focus{
      outline: none;
  }

  /* FOOTER */
  #footer{
    padding: 2em 0;
    background: #00cdce;
  }
  .footer__content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
   
  }
  .copy__right {
    margin-top: 1.2em;
    text-align: center;
  }
  .copy__right p {
    font-size: 25px;
    color: #fff;
    padding-bottom: 25px;
  }
  .copy__right p a {
    color: red;
    text-decoration: none;
  }
  .bottom__head {
    text-align: center;
  }
  .icon__button {
    text-align: center;
  }
  .icon__button ul {
    margin: 0;
    padding: 0;
  }
  .icon__button ul li {
    list-style: none;
    display: inline;
  }
  .icon__button ul li i {
    border: solid #fff;
    color: white;
    text-align: center;
    line-height: 30px;
    margin: 12px;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    transition: all 1s;
    cursor: pointer;
  }
  .icon__button ul li a {
    list-style: none;
    color: #fff;
  }